#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#msg-box1-11 h2 {
  color: #fff;
}
#msg-box1-11 p {
  color: #fff;
}
#msg-box4-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#menu-21 .mbr-brand__name {
  font-size: 30px;
  color: #fff;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #e25041;
}
#msg-box1-31 h2 {
  color: #fff;
}
#msg-box1-31 p {
  color: #fff;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box3-37 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-37 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-38 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-38 .mbr-header .mbr-header__subtext {
  text-align: center;
}
